

.main {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
}
/* The switch - the box around the slider */
.switch {
position: relative;
float: left;
width: 30px;
height: 17px;
}
/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}
/* The slider */
.slider {
border-radius: 34px;
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
border-radius: 50%;
position: absolute;
content: "";
height: 76%;
width: 43%;
left: 8%;
bottom: 8%;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
input:checked + .slider {
background-color: #2196F3;
}
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
-webkit-transform: translateX(100%);
-ms-transform: translateX(100%);
transform: translateX(100%);
} 
/*-------------------------------------------------------*/
/*Drag class stuff*/
.drag {
	min-width: 125px;
	position: absolute;
	z-index: 9;
	background-color: #24233D;
	text-align: center;
	border-radius: 8px;
}
.content {
	background-color: #101010;
	max-height: 0;
	overflow:hidden;
	transition: max-height 0.2s ease-out;
	border-radius: 0;
	color: white;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.content:-webkitscrollbar {        
	display: none;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: #252526;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.dragpanel {
	min-height: 30px;
	padding: 10px;
	z-index: 10;
	background-color: #ff4631;
	
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	color: #ffffff;
	border-radius: 8px;
	opacity: 0.6;
	transition: opacity 0.5s;
	transition: border-bottom-left-radius 0.05s ease-out;
	transition: border-bottom-right-radius 0.05s ease-out;
}
.active, .menu {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.active, .row:hover, .dragpanel:hover, .menu:hover, .menubutton:hover {
	opacity: 1;
}
.dragpanel:after {
	font-weight: bold;
	content: '\FF0B'; 
	font-size: 16px;
	float: right;
	margin-left: 5px;
}
.active:after {
content: '\FF0D'; 
}
.row {
	padding-top: 10px;
	min-height: 30px;
	background-color: #252526;
	overflow: hidden;
	text-align: center;
	opacity: 0.6;
	transition: opacity 0.5s;
	border-radius: 0;
}
.rowend {
	padding-top: 10px;
	min-height: 3px;
	background-color: #252526;
	overflow: hidden;
	text-align: center;
	opacity: 0.6;
	transition: opacity 0.5s;
	margin-bottom: 5px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius:8px;
}
.menu {
	overflow-y: scroll;
	opacity: 0.6;
	transition: opacity 0.5s;
	border-left: 8px solid #101010;
	border-right: 8px solid #101010;
}
.menubutton {
	border-radius: 4;
	cursor: pointer;
	width: 100%;
	border: none;
	outline: none;
	font-size: 15px;
	color: white;
	background: #252526;
	opacity: 0.6;
	transition: opacity 0.5s;
	transition: border-bottom-left-radius 0.05s ease-out;
	transition: border-bottom-right-radius 0.05s ease-out;
}
.select {
	background-color: #ff4631;
	opacity: 1;
}
/*-------------------------------------------------------*/