:root { /* Global variables */
	/* Style colors  */
  --primary: #ed452b;
  --primary-hover: #f79286;
  --menu-fg: #2b2b30;
  --menu-bg: #24233D;
  --textarea-bg: #171717;
  --canvas: #202023;
  --submenu-bg: #121114;
  --switch-bg: #ccc;
  --header-text: white;
  --primary-text: white;
  --secondary-hover: #3c3a44; 
  --secondary-text: #ccc;
  --scrollbar: #555;
  --scrollbar-hover: #888;
  --scrollbar-bg: #252427;
  --list-bg: #252427;
  --switch-toggle: white;
  --watermark: #ffffff6e; 
  --borders: #494953;
  --shadow: #191920;
 /* Shade CSS  */
  --shade: 0.6;
  --shade-hover: 1.0;
  --shade-fade: 0.6;
  --shade-fade-hover: 1.0;
  --theme-transition: .25s;
  --fade-time: .25s;
}
.canvas {
	background-color: var(--canvas);
	transition: background-color var(--theme-transition) ease-out;
}
.link-icons {
	color: var(--watermark);
	padding: 11px;
	padding-top: 6.5px;
	float: right;
	opacity: 0.2;
	transform-origin: center;
	transform: scale(1.75);
	transition: opacity 0.5s;
	transition: color var(--theme-transition) ease-out;
}
.icons {
	padding-right: 2px;	
	transform-origin: center;
	transform: scale(.8);
	padding-left: 46px;
}
.header-icon { /* cog */
	padding-right: 9px;	
	/* transform-origin: center; */
	transform-origin: 6.5px 6.3px;
	transform: scale(1);
	padding-left: 0px;
	transition: .5s;
}
#links {
	z-index: -1;
	margin: 5px;
	margin-top: 2;
	float: right;
}
/* switch CSS in settings box */
.switch { /* The switch (box around the slider) */
	position: relative;
	float: right;
	width: 30px;
	height: 17px;
	border-radius: 0px;
}
.switch input { /* hide default HTML checkbox */
	opacity: 0;
	width: 0;
	height: 0;
}
.slider { /* switch background: DISABLED */
	border-radius: 4px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--switch-bg);
	-webkit-transition: .2s;
	transition: .2s ease-in-out;
}
/* slider CSS in settings box */
.slider:before { /* switch toggle */
	border-radius: 20%;
	position: absolute;
	content: "";
	height: 76%;
	width: 43%;
	left: 7%;
	bottom: 12.5%;
	background-color: var(--switch-toggle);
	-webkit-transition: .2s;
	transition: .2s;
}
input:checked + .slider {
	background-color: var(--primary);
}
/* input:focus + .slider {} */
input:checked + .slider:before {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
} 
.drag { /*Drag class stuff*/
	position: absolute;
	z-index: 999;

	background-color: transparent;
	text-align: center;
	border-radius: 8px;
	max-width: 107.5px;
	transition: 0.2s;
}
/* content is wrapper CSS for dragpanel */
.content { /* panel behind all rows */
	background-color: var(--submenu-bg);
	max-height: 0;
	overflow:hidden;
	border-radius: 0;
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--primary-text);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: max-height 0.2s ease-out;
	transition: color var(--theme-transition) ease-out;
	transition: background-color var(--theme-transition) ease-out;
}
.dragpanel { /* Settings menu header */
	background-color: transparent;
	min-height: 30px;
	padding: 8px;
	padding-top: 6.5px;
	padding-bottom: 1.5px;
	padding-left: 8px;
	z-index: 10;
	/* Dragpanel style colors and transitions */
	color: var(--header-text);
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 13px;
	font-weight: 500;
	text-align: left;
	cursor: pointer;
	width: 107.5px;
	box-shadow: inset 0 0 0 2px var(--watermark);
	/* removes border outlines on dragpanel */
	border: none;
	outline: none;
	border-radius: 8px;
	opacity: 0.3;
	transition: 0.2s;
	/* transition-delay: .1s; */
}
.active, .menu {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
/* hover effects */
.row:hover {
	background-color: var(--secondary-hover);
}
.link-icons:hover {
	opacity: var(--shade-hover);
}
.active, .dragpanel:hover, .menu:hover, .menubutton:hover {
	opacity: var(--shade-fade-hover);
}
.menubutton:hover > .grad {
	opacity: 1;
}
.menubutton:hover {
	border-top: .2px solid var(--borders);
	border-bottom: .2px solid var(--borders);
	background-image: linear-gradient(to right, #00000000, #00000000, var(--secondary-hover));
}
/* end case of dragpanel */
.dragpanel:after { /* State: menu is collapsed */
	font-weight: bold;
	padding-bottom: 6px;
	content: '\FF0B'; 
	position:relative;
	/* top: 0px; */
	float: right;
}
/* drag hover to clicked enlarges box */
.drag:hover > .active {
	max-width: 150px;
}
.dragpanel:hover, .active {
	background-color: var(--primary);
	box-shadow: inset 0 0 0 25px var(--primary);
	width: 150px;
}
.drag {
	box-shadow: 0px 8px 10px var(--shadow), 
	-10px 8px 15px var(--canvas);
}
/* rotating animation for cog on settings box */
@-webkit-keyframes rotating {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.dragpanel:hover > .header-icon {
	transform: rotateZ(120deg);
}
.active:after { /* State: menu is expanded */
	position:relative;
	/* top: 0px; */
	content: '\FF0D'; 
	padding-bottom: 6px;
}
/* Main settings box row CSS*/
.row { /* header for each submenu */
	padding-top: 6.5px;
	padding-bottom: -.5px;
	min-height: 24px;
	background-color: var(--menu-fg);
	cursor: pointer;
	overflow: hidden;
	text-align: left;
	opacity: var(--shade);
	border-radius: 0;
	border-top: 1px solid var(--borders);
	border-bottom: 1px solid var(--borders);
	box-shadow: 0px 4px 8px -5px #181820;
	/* transition: background-color var(--fade-time), border-top .1s, border-bottom .1s;
	transition-timing-function: ease-out; */
	transition: border-top var(--theme-transition) ease-out;
	transition: border-bottom var(--theme-transition) ease-out;
}
/* CSS for bottom of row boxes */
.rowend { /* footer */
	padding-top: 8px;
	min-height: 3px;
	background-color: var(--menu-fg);
	overflow: hidden;
	text-align: center;
	opacity: var(--shade);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius:8px;
}
/* menu wrapper */
.menu { /* container for submenu items */
	overflow-y: scroll;
	opacity: var(--shade-fade);
	border-left: 8px solid var(--submenu-bg);
	border-right: 8px solid var(--submenu-bg);
	transition: opacity var(--fade-time) ease-out;
	/* transition: background-color var(--theme-transition) ease-out; */
}
.menubutton { /* items under submenu header */
	border-radius: 4;
	cursor: pointer;
	width: 100%;
	border: none;
	outline: none;
	font-size: 10px;
	color: var(--primary-text);
	background-color: var(--list-bg);
	border-top: .5px solid var(--list-bg);
	border-bottom: .5px solid var(--list-bg);
	opacity: var(--shade-fade);
	text-align: left;
	padding: 6px;
	padding-left: 10px;
	line-height: -4px;
	font-family: 'IBM Plex Mono', monospace;
	transition: opacity var(--fade-time) ease-out;
}
.select { /* selected items */
	pointer-events: none;
	background-color: var(--primary);
	color: var(--header-text);
	opacity: 1;
	border-top: .5px solid var(--primary-hover);
	border-bottom: .5px solid var(--primary-hover);
}
/* CSS for blacklist box */
textarea { /* text field */
	outline: none;
	/* background: radial-gradient(circle at bottom right, var(--list-bg) 1px, var(--textarea-bg) 20px); */
	text-transform: lowercase;
	line-height: 20px;
	width: 100%;
	color: var(--primary-text);
	font-size: 10px;
	height: 100px;
	padding: 10px 10px;
	box-sizing: border-box;
	min-height: 70px;
	border: 0px solid var(--textarea-bg);
	border-radius: 0px;
	background-color: var(--textarea-bg);
	resize:vertical;
	transition: background-color var(--theme-transition) ease-out;
	transition: color var(--theme-transition) ease-out;
}
input[type="text"] {

	font-family: 'IBM Plex Mono', monospace;
	font-size: 10px;
	color: var(--primary-text);
	outline: none; 
	background-color:  transparent;
	border: 1px solid transparent;
	width: 70px;
	margin: -5px;
	margin-top: -1px;
	padding: 2px 5px;
	/* transition: var(--fade-time); */
}
input[type="text"]:hover {
    outline: none;
	background-color: var(--list-bg);
	border-radius: 2px;
    border: 1px solid var(--secondary-hover);
}
input[type="text"]:focus {
	background-color: var(--textarea-bg);
	border-radius: 2px;
    border:1px solid var(--primary-hover);
}
/* webkit animation suite */
.content:-webkitscrollbar { /* scrollbar */
	display: none;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-color: var(--scrollbar-bg);
	transition: background-color var(--theme-transition) ease-out;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--scrollbar);
	transition: background-color var(--theme-transition) ease-out;	
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-hover);
	transition: background-color var(--theme-transition) ease-out;

}
.grad {
	background-color: var(--primary);
	border-radius: 50%;
	outline: 2px solid var(--primary-hover);
	position: relative;
	float: right;
	margin: -6px;
	height: 12px;
	width: 12px;
	top: 6.5px;
	right: 10px;
	opacity: 0.6;
	transition: opacity 0.5s;
}

.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext { /* Tooltip body */
	visibility: hidden;
	width: 80px;
	background-color: var(--submenu-bg);
	font-family: 'IBM Plex Mono', monospace;
	font-size: 10.5px;
	color: var(--secondary-text);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	padding-bottom: 8px;
	position: absolute;
	z-index: 20;
	top: -6px;
	right: 110%;
}
.tooltip .tooltiptext::after { /* tooltip pointer */
	content: "";
	position: absolute;
	top: 17px;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent var(--submenu-bg);
}
/* on hover */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* Ripple effect on button clicks */
.ripple {
  background-position: center;
  background-origin: 20%;
  transition: background .6s;
}
.ripple:hover {
  background: var(--secondary-hover) radial-gradient(circle, transparent 1%, var(--secondary-hover) 2%) center/15000%;
  /* transition: background-color var(--fade-time); */
}
.ripple:active { 	
  background-color: #525060; /* ripple color */
  background-size: 100%;
  transition: background 0s;
}