:root { /* Global variables */
  --selected: #2196F3;
  --primary: #ed452b;
  --menu-fg: #3c3c42;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link-icons {
	color: #ffffff6e;
	padding: 10px;
	padding-top: 6px;
	float: right;
	opacity: 0.2;
	transition: opacity 0.5s;
	transform-origin: center;
	transform: scale(1.5);
}
.icons {
	padding-right: 2px;	
	transform-origin: center;
	transform: scale(.8);
	padding-left: 46px;
}
.header-icon {
	padding-right: 9px;	
	transform-origin: center;
	transform: scale(.9);
	padding-left: 0px;
}
#links {
	z-index: -1;
	margin: 5px;
	margin-top: 2;
	float: right;
}
.container { /* "Settings" header (?) */
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
}
.switch { /* The switch (box around the slider) */
	position: relative;
	float: left;
	width: 30px;
	height: 17px;
}
.switch input { /* hide default HTML checkbox */
	opacity: 0;
	width: 0;
	height: 0;
}
.slider { /* Slider */
	border-radius: 34px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	border-radius: 50%;
	position: absolute;
	content: "";
	height: 76%;
	width: 43%;
	left: 8%;
	bottom: 8%;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
background-color: var(--selected);
}
input:focus + .slider {
box-shadow: 0 0 1px var(--selected);
}
input:checked + .slider:before {
-webkit-transform: translateX(100%);
-ms-transform: translateX(100%);
transform: translateX(100%);
} 
.drag { /*Drag class stuff*/
	min-width: 125px;
	position: absolute;
	z-index: 9;

	background-color: #24233D;
	text-align: center;
	border-radius: 8px;

	box-shadow: 0px 8px 10px #191920, 
	-10px 8px 15px #202023;
}
.content {
	background-color: #101010;
	max-height: 0;
	overflow:hidden;
	transition: max-height 0.2s ease-out;
	border-radius: 0;
	font-family: 'IBM Plex Sans', sans-serif;
	color: white;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.dragpanel { /* Settings menu header */
	background-color: var(--primary);
	min-height: 30px;
	padding: 8px;
	padding-top: 6px;
	padding-bottom: 1.5px;
	padding-left: 8px;
	z-index: 10;
	color: #ffffff;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 13px;
	font-weight: 500;
	text-align: left;
	cursor: pointer;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 8px;
	opacity: 0.6;
	transition: opacity 0.5s;
	transition: border-bottom-left-radius 0.05s ease-out;
	transition: border-bottom-right-radius 0.05s ease-out;
}
.active, .menu {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.active, .row:hover, .dragpanel:hover, .menu:hover, .menubutton:hover, .link-icons:hover {
	opacity: 1;
}
.dragpanel:after { /* State: menu is collapsed */
	font-weight: bold;
	padding-bottom: 6px;
	content: '\FF0B'; 
	position:relative;
	top: 0px;
	float: right;
}
.active:after { /* State: menu is expanded */
	position:relative;
	top: 0px;
	content: '\FF0D'; 
	padding-bottom: 6px;
}
.row { /* header for each submenu */
	padding-top: 8px;
	min-height: 24px;
	background-color: var(--menu-fg);
	overflow: hidden;
	text-align: left;
	opacity: 0.6;
	transition: opacity 0.5s;
	border-radius: 0;
	border-top: 1px solid #494953;
	border-bottom: 1px solid #494953;
}
.rowend { /* footer */
	padding-top: 8px;
	min-height: 3px;
	background-color: var(--menu-fg);
	overflow: hidden;
	text-align: center;
	opacity: 0.6;
	transition: opacity 0.5s;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius:8px;
}
.menu {
	overflow-y: scroll;
	opacity: 0.6;
	transition: opacity 0.5s;
	border-left: 8px solid #101010;
	border-right: 8px solid #101010;
}
.menubutton { /* items under submenu header */
	border-radius: 4;
	cursor: pointer;
	width: 100%;
	border: none;
	outline: none;
	font-size: 10.5px;
	color: white;
	background: #252526;
	border-bottom: .5px solid #303032;
	opacity: 0.6;
	transition: opacity 0.5s;
	text-align: left;
	padding: 6px;
	padding-left: 10px;
	font-family: 'IBM Plex Mono', monospace;
	transition: border-bottom-left-radius 0.05s ease-out;
	transition: border-bottom-right-radius 0.05s ease-out;
}
textarea { /* text field */
	width: 100%;
	color: white;
	height: 100px;
	padding: 10px 10px;
	box-sizing: border-box;
	border: 2px solid #1c1c1c;
	border-radius: 4px;
	background: #171717;
	resize:vertical;
}
.select { /* selected items */
	background-color: var(--primary);
	opacity: 1;
}
.content:-webkitscrollbar { /* scrollbar */
	display: none;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: #252526;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}